<h1 class="page-header">
    Welcome
    <small>{{ status.user }}</small>
</h1>

<div ng-show="status.orgs.length">
    <div ng-repeat="org in status.orgs" class="row org-container">
       	<img ng-src="{{ org.avatar }}" class="col-md-2 col-md-offset-3" />
        <div class="col-md-3">
         	<h3>{{ org.name }}</h3>
            <small>{{ org.hooks.length }} hooks</small>
            <div class="org-action-buttons">
	            <a ng-click="createHook(org.name)" class="btn btn-small btn-primary"> Register Hook </a>
	            <a ng-click="deleteHooks(org.name)" class="btn btn-small btn-danger"> Delete Hooks </a>
	        </div>
        </div>
    </div>
</div>

<div ng-hide="status.orgs.length" class="row">
    <div class="col-md-4 col-md-offset-4 center">
        <h3>Nothing here =(</h3>
        You have no organizations...
    </div>
</div>